<%= stylesheet_link_tag "components/navbar" %>
<div class="container">
  <div class="greenline">
  <div>
    <div class="navbar-diamonds">
      <div class="diamondlogo">
        <%= image_tag "Logo Diamond Blue.png" %>
      </div>
      <div class="diamondlogo">
        <%= image_tag "Logo Diamond Green.png" %>
      </div>
      <div class="diamondlogo">
        <%= image_tag "Logo Diamond Blue.png" %>
      </div>
      <div class="diamondlogo">
        <%= image_tag "Logo Diamond Green.png" %>
      </div>
      <div class="diamondlogo">
        <%= image_tag "Logo Diamond Blue.png" %>
      </div>
    <div>
  <div class="greenline">
  <div>
</div>
